.video-container {
  position: relative;
  width: 720px;
  height: 560px;
}

canvas {
  position: absolute;
}

.predictions-table {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.predictions-table th,
.predictions-table td {
  padding: 8px;
}

.predictions-table th {
  background-color: #f0f0f0;
  text-align: left;
}

.predictions-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.predictions-table tbody tr:hover {
  background-color: #f1f1f1;
}

